.mainNav {
    display: flex;
    justify-content: space-around;
    background-color: #FCEFDA;
    height: 20vh;
    align-items: center;
}

.mainNav button {
    left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.mainNav button div {
    width: 2rem;
    height: 0.25rem;
    background: rgb(77, 84, 80);
    border-radius: 10px;
    transition: transform 0.3s linear 0s;
    position: relative;
    transform-origin: 1px center;
}

.mainNav input {
    height: 2rem;
    width: 100%;
    border: none;
    padding: 0px 20px;
    outline: none;
    background-color: #CAE565;
    color: gray;
    border-radius: 2rem;
}

.toggle {
    cursor: pointer;
    font-size: 2.2rem;
}
