.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.page{
    width: 2rem;
    height: 1.1rem;
    /* border: 0.5rem solid; */
    border-radius: 0.5rem;
    background-color: yellowgreen;
    color: gray;
    text-align: center;
    box-shadow:   rgba(0, 0, 0, 0.2) 0px 10px 18px, rgba(0, 0, 0, 0.2) 0px 11px 11px;

}

.leftArrow, .rightArrow {
    cursor: pointer;
}