.container {
    height: calc(100vh - 50px);
    position: fixed;
    background-color: rgba(27, 42, 48, 0.65);
    transition: width 0.5s ease 0s;
    left: 0;
    top: 6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: yellowgreen;
    justify-content: space-around;
}

.open {
    width: 200px;
    z-index: 2;
}

.closed {
    width: 0px;
    z-index: -999;
}